body {
    /* 60px to make the container go all the way to the bottom of the topbar */
    padding-top: 60px;
}

a h2 {
    text-align: center;
}

footer {
    font-size: 10px;
    text-align: center;
}

.constrained {
    max-width: 750px;
}

div.content {
    min-height: 600px;
}

.bs-docs-separator {
    margin: 40px 0 39px;
}

.table tbody tr.info td {
    background-color: #FDFD8C;
}

.table tbody tr.error td {
    background-color: #F54828;
}

.table tbody tr.success td {
    background-color: #5AB953;
}
